.body{
  overflow-y:scroll;
  height: 100%;
}

.aboutwrap {
  width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background: rgb(230, 243, 244);
 }
 .title{
  margin: 0 auto;
  margin: 10px 0px 6px 0;
  display: flex;
  justify-content:space-around;
  align-items: center;
  background: rgb(255, 255, 255);
  font-size: 25px;
  color: rgb(35, 135, 196);
  width: 960px;
  height: 48px;
  letter-spacing: 0.15em;
  font-family: メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif;
 }
 .main{
  margin: 0 auto;
  width: 960px;
  height: 305px;
  background: rgb(47, 132, 122);
  color:rgb(255, 255, 255) ;
  margin: 0 0 10px 0;
  font-family:メイリオ,meiryo,ヒラギノ角ゴ pro w3,hiragino kaku gothic pro,sans-serif ;
}

.main01{
  height: 32px;
  font-size: 22px;
  letter-spacing: 0.15em;
  margin: 15px 0 14px 0;
  padding-left: 88px;
}
.main span{
  line-height: 1.4em;
  font-size: 20px;
  letter-spacing: 0.2em;
}
.main02{
  width: 818px;
  padding-left: 83px;
  text-align: justify;
}
.main03{
  padding-left: 2px;
  margin-bottom: 36px;
}
.main04{
  padding-left: 2px;
}

.title2{
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  font-size: 25px;
  color: rgb(35, 135, 196);
  width: 960px;
  height: 48px;
  margin-bottom: 10px;
}
.title2 h4{
  padding-left: 99px;
}

.contentwrap{
  width: 490px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.container{
  height: 1300px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.imagewrap{
  background: rgb(47, 132, 122);
  width: 471px;
  height: 181px;
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items:center;
  font-size: 20px;
  color:rgb(255, 255, 255) ;
  margin-bottom: 10px;
}
.content{
  display: flex;
  justify-content: center;
  background: rgb(255, 255, 255);
  margin-bottom: 10px;
  width: 471px;
  height: 122px;
  font-size: 19px;
  color:rgb(28, 24, 14) ;
}

.content p{
  width: 305px;
  margin-top: 7px;
  margin-bottom: 28px;
  line-height: 1.4em;
  letter-spacing: 0.15em;

}
