<div class="body">
<div class="aboutwrap">
  <div class="title">
    <span><h4>專業 環保</h4></span>
    <span><h4>低污染排放</h4></span>
    <span><h4>品質保證</h4></span>
  </div>
  <div class="main">
    <div class="main01"><span>公司簡介</span></div>
    <div class="main02">
    <div class="main03"><span><p>福展企業有限公司成立於民國82年7月，主要生產加工類別為傢俱五金零配件、汽機車五金零配件、電子五金零配件、機械五金零配件，等電著塗裝加工。</p></span></div>
    <div class="main04">
    <span><p>基於我們對環境保護，我們高效率的電著塗裝設備採用(PPG Automotive Refinish - 美商必丕志塗料) 在產品組裝完成之後完整且平均地為產品提供一層防腐蝕保護經過這一層的保護，使我們的產品更能達到市場的需求 。</p></span></div>
    </div>
  </div>

  <div class="title2">
    <h4>電著塗裝優點</h4>
  </div>

<div class="container">

  <div class="contentwrap">
    <div class="imagewrap">
      <h2><span>良好的耐蝕性及耐化性</span></h2>
      <img src="https://static.wixstatic.com/media/b9f97e_dc8cb052f1bc4fe2807816a297b0657a.png/v1/fill/w_103,h_100,al_c,lg_1,q_85/b9f97e_dc8cb052f1bc4fe2807816a297b0657a.webp">
    </div>
    <div class="content">
      <p><span>環氧樹脂塗料所形成的塗膜，擁有良好的耐蝕性及耐化性。</span></p>
    </div>
  </div>

  <div class="contentwrap">
    <div class="imagewrap">
      <h2><span>高深透力</span></h2>
      <img src="https://static.wixstatic.com/media/b9f97e_ffca9fe3574c40679ca1cc26ffc4da1e.png/v1/fill/w_103,h_100,al_c,lg_1,q_85/b9f97e_ffca9fe3574c40679ca1cc26ffc4da1e.webp">
    </div>
    <div class="content">
      <p><span>電著塗裝係將整體工件浸在塗料中，幾乎不產生塗裝死角。</span></p>
    </div>
  </div>

  <div class="contentwrap">
    <div class="imagewrap">
      <h2><span>膜平坦 性優良</span></h2>
      <img src="https://static.wixstatic.com/media/b9f97e_0a43199702b04fbab0b98055abc646d1.png/v1/fill/w_100,h_100,al_c,q_85/b9f97e_0a43199702b04fbab0b98055abc646d1.webp">
    </div>
    <div class="content">
      <p><span>膜厚均一，較不會產生塗膜缺陷。</span></p>
    </div>
  </div>

  <div class="contentwrap">
    <div class="imagewrap">
      <h2><span>塗料損失極少</span></h2>
      <img src="https://static.wixstatic.com/media/b9f97e_767a295935d640f5a5943c12e360eabe.png/v1/fill/w_100,h_100,al_c,q_85/b9f97e_767a295935d640f5a5943c12e360eabe.webp">
    </div>
    <div class="content">
      <p><span>系統中配合超過濾及逆滲透RO，使塗料循環回收使用，使用率可達98%以上。</span></p>
    </div>
  </div>

  <div class="contentwrap">
    <div class="imagewrap">
      <h2><span>高自動化生產</span></h2>
      <img src="https://static.wixstatic.com/media/b9f97e_976e1174439c4f0c9e5f04dfcb19b4b1.png/v1/fill/w_100,h_100,al_c,q_85/b9f97e_976e1174439c4f0c9e5f04dfcb19b4b1.webp">
    </div>
    <div class="content">
      <p><span>除了掛取工件及補充塗料液需要人工外，其餘製程全部自動化，產量大，適合大量生產的成品。</span></p>
    </div>
  </div>

  <div class="contentwrap">
    <div class="imagewrap">
      <h2><span>水性塗料低污染</span></h2>
      <img src="https://static.wixstatic.com/media/b9f97e_8f383128a1694adbb87222c50411d361.png/v1/fill/w_77,h_100,al_c,q_85/b9f97e_8f383128a1694adbb87222c50411d361.webp">
    </div>
    <div class="content">
      <p><span>有機溶劑含量僅約0.3~1.3%甚至更低，且塗料使用率極高，因而污染極低。</span></p>
    </div>
  </div>

  <div class="contentwrap">
    <div class="imagewrap">
      <h2><span>安全的工作環境</span></h2>
      <img src="https://static.wixstatic.com/media/b9f97e_c683634c0466416f8d59e13d227489bc.png/v1/fill/w_103,h_100,al_c,lg_1,q_85/b9f97e_c683634c0466416f8d59e13d227489bc.webp">
    </div>
    <div class="content">
      <p><span>有機溶劑含量極低，因此對工廠員工健康危害極低且火災發生機率甚低。</span></p>
    </div>
  </div>

  <div class="contentwrap">
    <div class="imagewrap">
      <h2><span>不含鉛的環保塗料</span></h2>
      <img src="https://static.wixstatic.com/media/b9f97e_2d223a870cac48afa0351d7ac10e33a2.png/v1/fill/w_100,h_100,al_c,q_85/b9f97e_2d223a870cac48afa0351d7ac10e33a2.webp">
    </div>
    <div class="content">
      <p><span>美國PPG於2001年推出不含鉛的環保電著塗裝。環保特性包括：無鉛及不含重金屬。</span></p>
    </div>
  </div>
</div>
</div>
</div>
