
<div class="wrap">
<div class="list">
  <a class="car" routerLink="/car" routerLinkActive="selected"><img src="https://static.wixstatic.com/media/b9f97e_1d649e559f5d440186d82bf04641a7e4.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_1d649e559f5d440186d82bf04641a7e4.webp"></a>

  <a class="electronic" routerLink="/electronic" routerLinkActive="selected" ><img src="https://static.wixstatic.com/media/b9f97e_19009ad220974d77b95fa102deccab4b.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_19009ad220974d77b95fa102deccab4b.webp"></a>

  <a class="industry" routerLink="/industry" routerLinkActive="selected"><img src="https://static.wixstatic.com/media/b9f97e_c9a9af3640b74452afc9cac3456ca73a.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_c9a9af3640b74452afc9cac3456ca73a.webp"></a>

  <a class="furniture" routerLink="/furniture"  routerLinkActive="selected"><img src="https://static.wixstatic.com/media/b9f97e_579504165e2c4514a21c32e5d8c7131b.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_579504165e2c4514a21c32e5d8c7131b.webp"></a>

  <a class="others" routerLink="/others"  routerLinkActive="selected"><img src="https://static.wixstatic.com/media/b9f97e_d2108f588cbd40a6b09dd590b17433b8.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_d2108f588cbd40a6b09dd590b17433b8.webp"></a>
</div>


<div class="contentwrap">
<div class="content">
  <div class="item">
  <img src="https://static.wixstatic.com/media/878991_12fb5a6113f34835b47e68049c9673bb.jpg/v1/fill/w_310,h_177,al_c,q_80,usm_0.66_1.00_0.01/878991_12fb5a6113f34835b47e68049c9673bb.webp" class="image">
  <div class="overlay">
    <div class="text">彈簧</div>
  </div>
  </div>

  <div class="item">
  <img src="https://static.wixstatic.com/media/878991_efea56b78e7f4e9a875f886d53c77c9d.jpg/v1/fill/w_310,h_177,al_c,q_80,usm_0.66_1.00_0.01/878991_efea56b78e7f4e9a875f886d53c77c9d.webp" class="image">
  <div class="overlay">
    <div class="text">螺帽</div>
  </div>
</div>

  <div class="item">
  <img src="https://static.wixstatic.com/media/878991_e83a6b7c412d43009c71e785fbe5ed92.jpg/v1/fill/w_310,h_177,al_c,q_80,usm_0.66_1.00_0.01/878991_e83a6b7c412d43009c71e785fbe5ed92.webp" class="image">
  <div class="overlay">
    <div class="text">直流馬達外殼</div>
  </div>
</div>

  <div class="item">
  <img src="https://static.wixstatic.com/media/878991_f58d05623745451793effa019cb965ec.jpg/v1/fill/w_310,h_177,al_c,q_80,usm_0.66_1.00_0.01/878991_f58d05623745451793effa019cb965ec.webp" class="image">
  <div class="overlay">
    <div class="text">彈簧</div>
  </div>
</div>

<div class="item">
  <img src="https://static.wixstatic.com/media/878991_90b9aed7326b404e88b8f0ef838b11fa.jpg/v1/fill/w_310,h_177,al_c,q_80,usm_0.66_1.00_0.01/878991_90b9aed7326b404e88b8f0ef838b11fa.webp" class="image">
  <div class="overlay">
    <div class="text">磅秤彈簧</div>
  </div>
</div>

<div class="item-empty"></div>


</div>
</div>
</div>
