.BottomLayer {
  display: flex;
  flex-direction: column;
  background: rgb(230, 243, 244);
  height: 563px;
 }

 .frame{
  width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content:space-between;
 }
.LeftContent{
  margin-top: 23px;
  margin-bottom: 15px;
  padding-left: 16px;
  font-size: 22px;
  letter-spacing: 0.1em;
}

.information{
  display: flex;
  margin-top: 3git0px;
  font-size: 18px;
}
.information img{
  width: 34px;
  height: 32px;
}
.telephone p{
  margin-bottom: 15px;
  padding-left: 30px;
}

.map{
  display: flex;
  margin: 20px;
}
