<div class="BottomLayer">
  <div class="frame">
    <div class="LeftContent">
<span>聯絡資訊</span>
<div class="information">
<img src="https://static.wixstatic.com/media/878991_aa8d8ff72d0644d9bfe35166938ba8b2.png/v1/fill/w_34,h_32,al_c,q_85/878991_aa8d8ff72d0644d9bfe35166938ba8b2.webp">
<div class="telephone">
  <p>07-7876706</p>
  <p>07-7876707</p>
</div>
</div>

<div class="information">
  <img src="https://static.wixstatic.com/media/878991_51da74aefc474a7491e7a521e396a260.png/v1/fill/w_38,h_36,al_c,lg_1,q_85/878991_51da74aefc474a7491e7a521e396a260.webp">
  <div class="telephone">
    <p>07-7885958</p>
  </div>
  </div>

  <div class="information">
    <img src="https://static.wixstatic.com/media/878991_3e089bdeb5ae4b49af31f92d57d08dbc.png/v1/fill/w_38,h_37,al_c,q_85/878991_3e089bdeb5ae4b49af31f92d57d08dbc.webp">
    <div class="telephone">
      <p>fu.zhan01@gmail.com</p>
    </div>
    </div>

    <div class="information">
      <img src="https://static.wixstatic.com/media/878991_270a604476c64435971547e9ada50646.png/v1/fill/w_38,h_33,al_c,q_85/878991_270a604476c64435971547e9ada50646.webp">
      <div class="telephone">
        <p>高雄市大寮區過溪里華一街660號</p>
      </div>
      </div>
    </div>
    <div class="RightContent">
  <div class="">
    <div class="map">
      <img src="https://static.wixstatic.com/media/878991_c60711aa273f4d2e9bc39c55eab298ae.png/v1/fill/w_48,h_45,al_c,lg_1,q_85/878991_c60711aa273f4d2e9bc39c55eab298ae.webp">
      <p>位置地圖</p>
    </div>
      <img src="https://static.wixstatic.com/media/62ed60_4f536b6542d34efca95810cf60775a04~mv2.png/v1/fill/w_636,h_460,al_c,q_85,usm_0.66_1.00_0.01/62ed60_4f536b6542d34efca95810cf60775a04~mv2.webp">

    </div>
    </div>
  </div>
</div>
