.bg{
  background: rgb(230, 243, 244);
  height: calc(100% - 96px);
 }

 .content{
  height: calc(100% - 96px);
  overflow: hidden;
}

 .wrap{
  display: flex;
  height: 96px;
  margin: 0 auto;
 }
 .header{
  width: 100%;
  position: fixed;
  background:rgb(255, 255, 255);
  box-shadow:0 0 5px rgba(0, 0, 0, 0.7);
 }
 .navbar{
  margin: 0 auto;
  max-width: 980px;
  width: 960px;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
 }

 .navbar img{
  padding-left: 9px;
 }


 .menu{
  display: flex;
  justify-self: center;
 }

 .menu p{
   font-size: 18px;
 }

 .btn{
   text-decoration: none;
 }
 .btn.selected p{
  display: flex;
  justify-content:center;
  width: 131px;
  line-height: 93px;
  background: rgba(1,177,175);
  color: rgb(255, 255, 255);
  transition-duration: 0.4s;
 }
 .btn p:hover{
  display: flex;
  justify-content:center;
  width: 131px;
  line-height: 93px;
  background: rgba(1,177,175);
  color: rgb(255, 255, 255);
  transition-duration: 0.4s;
 }


.tab{
    display: flex;
    justify-content:center;
    width: 131px;
    line-height: 93px;
    color: rgba(1,177,175);
}

 .footer{
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45px;
  width: 100%;
  background:rgb(186, 217, 215) ;
 }
 .footer p {
  font-size: 14px;
 }
