<div class="bg">
  <div class="wrap">
    <div class="header">
      <div class="navbar">
        <a class="logo" routerLink="" routerLinkActive="selected"><img src="https://static.wixstatic.com/media/b9f97e_eac2df115c164f0c90a8c78e0a7467a7.png/v1/fill/w_300,h_57,al_c,q_85/b9f97e_eac2df115c164f0c90a8c78e0a7467a7.webp"></a>
      <div class="menu">
          <a class="btn about-tab" routerLink="about" routerLinkActive="selected" >
              <div class="tab"><p>關於福展</p></div></a>

          <a class="btn products-tab" routerLink="products" routerLinkActive="selected" >
            <div class="tab"><p>產品介紹</p></div></a>


          <a class="btn contact-tab" routerLink="contact" routerLinkActive="selected">
            <div class="tab"><p>聯絡方式</p></div></a>
      </div>
    </div>
    </div>
  </div>
  <div class="content" [@routeAnimations]="prepareRoute(outlet)">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
  <div class="footer">
    <p>© 2016 福展企業有限公司</p>
  </div>
 </div>
