<div class="wrap">
<div class="list">
  <a class="car" routerLink="/car" routerLinkActive="selected"><img src="https://static.wixstatic.com/media/b9f97e_1d649e559f5d440186d82bf04641a7e4.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_1d649e559f5d440186d82bf04641a7e4.webp"></a>

  <a class="electronic" routerLink="/electronic" routerLinkActive="selected" ><img src="https://static.wixstatic.com/media/b9f97e_19009ad220974d77b95fa102deccab4b.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_19009ad220974d77b95fa102deccab4b.webp"></a>

  <a class="industry" routerLink="/industry" routerLinkActive="selected"><img src="https://static.wixstatic.com/media/b9f97e_c9a9af3640b74452afc9cac3456ca73a.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_c9a9af3640b74452afc9cac3456ca73a.webp"></a>

  <a class="furniture" routerLink="/furniture"  routerLinkActive="selected"><img src="https://static.wixstatic.com/media/b9f97e_579504165e2c4514a21c32e5d8c7131b.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_579504165e2c4514a21c32e5d8c7131b.webp"></a>

  <a class="others" routerLink="/others"  routerLinkActive="selected"><img src="https://static.wixstatic.com/media/b9f97e_d2108f588cbd40a6b09dd590b17433b8.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_d2108f588cbd40a6b09dd590b17433b8.webp"></a>
</div>
<div class="contentwrap">
<div class="content">

  <div class="item">
  <img src="https://static.wixstatic.com/media/878991_25c27b8ac06b42aabbea6f2e1a0c65eb.jpg/v1/fill/w_310,h_176,al_c,q_80,usm_0.66_1.00_0.01/878991_25c27b8ac06b42aabbea6f2e1a0c65eb.webp" class="image">
  <div class="overlay">
    <div class="text">矽鋼片</div>
  </div>
</div>

  <div class="item">
  <img src="https://static.wixstatic.com/media/878991_02dd499bd91a45ada9d9497567de31dc.jpg/v1/fill/w_310,h_176,al_c,q_80,usm_0.66_1.00_0.01/878991_02dd499bd91a45ada9d9497567de31dc.webp" class="image">

  <div class="overlay">
    <div class="text">矽鋼片</div>
  </div></div>

  <div class="item">

  <img src="https://static.wixstatic.com/media/878991_63ba39eea21e4b62863ec51c1513d309.jpg/v1/fill/w_310,h_176,al_c,q_80,usm_0.66_1.00_0.01/878991_63ba39eea21e4b62863ec51c1513d309.webp" class="image">
  <div class="overlay">
    <div class="text">船用馬達零件</div>
  </div>
  </div>

  <div class="item">

  <img src="https://static.wixstatic.com/media/878991_bbbcc4e473ba44baa256a9c6e2cdbaa2.jpg/v1/fill/w_310,h_176,al_c,q_80,usm_0.66_1.00_0.01/878991_bbbcc4e473ba44baa256a9c6e2cdbaa2.webp" class="image">

  <div class="overlay">
    <div class="text">船用馬達零件</div>
  </div>
  </div>

  <div class="item">

  <img src="https://static.wixstatic.com/media/878991_b87a74cd0f5e4e9b81c5a58bfc69fde2.jpg/v1/fill/w_310,h_176,al_c,q_80,usm_0.66_1.00_0.01/878991_b87a74cd0f5e4e9b81c5a58bfc69fde2.webpp" class="image">
  <div class="overlay">
    <div class="text">船用馬達零件</div>
  </div>
  </div>

  <div class="item">

  <img src="https://static.wixstatic.com/media/878991_86cd7389c7ba4b4c80ae0922f96e962b.jpg/v1/fill/w_310,h_176,al_c,q_80,usm_0.66_1.00_0.01/878991_86cd7389c7ba4b4c80ae0922f96e962b.webp" class="image">
  <div class="overlay">
    <div class="text">支撐架</div>
  </div>
  </div>

  <div class="item">

  <img src="https://static.wixstatic.com/media/878991_7c13effecd774477bd4c61e73e008af7.jpg/v1/fill/w_310,h_176,al_c,q_80,usm_0.66_1.00_0.01/878991_7c13effecd774477bd4c61e73e008af7.webp" class="image">
  <div class="overlay">
    <div class="text">船用馬達零件</div>
  </div>
  </div>

  <div class="item">

 <img src="https://static.wixstatic.com/media/878991_6bba1fb2ddee4e148c1e99d0fa7444a5.jpg/v1/fill/w_310,h_176,al_c,q_80,usm_0.66_1.00_0.01/878991_6bba1fb2ddee4e148c1e99d0fa7444a5.webp" class="image">
 <div class="overlay">
  <div class="text">冷凍機櫃固定件</div>
</div>
</div>

 <div class="item">

  <img src="https://static.wixstatic.com/media/878991_71c6d55e5b0c43c391a015e51957ecd5.jpg/v1/fill/w_310,h_176,al_c,q_80,usm_0.66_1.00_0.01/878991_71c6d55e5b0c43c391a015e51957ecd5.webp" class="image">
  <div class="overlay">
    <div class="text">液晶螢幕鐵框</div>
  </div>
  </div>

  <div class="item">

  <img src="https://static.wixstatic.com/media/878991_6954ab57545742499cc55c1ea443a934.jpg/v1/fill/w_310,h_176,al_c,q_80,usm_0.66_1.00_0.01/878991_6954ab57545742499cc55c1ea443a934.webp" class="image">
  <div class="overlay">
    <div class="text">液晶螢幕鐵框</div>
  </div>
  </div>

  <div class="item">

  <img src="https://static.wixstatic.com/media/878991_a90f3b2a69e24e43939508c614ca214e.jpg/v1/fill/w_310,h_176,al_c,q_80,usm_0.66_1.00_0.01/878991_a90f3b2a69e24e43939508c614ca214e.webp" class="image">
  <div class="overlay">
    <div class="text">風扇斜轉子</div>
  </div>
  </div>

 <div class="item-empty"></div>
</div>
</div>
</div>
