.wrap{
  margin: 0 auto;
  width: 960px;
  min-width: 980px;
}

.menu{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-self: start;
  align-self: start;
  box-sizing: border-box;
}
.car:hover{
  background: url(https://static.wixstatic.com/media/b9f97e_389b638544504e9cb3e9b97b2e2f128f.png/v1/fill/w_243,h_243,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_389b638544504e9cb3e9b97b2e2f128f.webp);
}

.car img {
  opacity: 0;
}

.car{
  background: url(https://static.wixstatic.com/media/b9f97e_1d649e559f5d440186d82bf04641a7e4.png/v1/fill/w_243,h_243,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_1d649e559f5d440186d82bf04641a7e4.webp);
  width: 243px;
  height: 243px;
  margin-top: 38px;
  margin-right: 0;
  margin-bottom: 28px;
  left: 67px;
  grid-area: 1/1/2/2;
  position: relative;
  margin-left: calc((100% - 980px) * 0.5);
}


.electronic{
  background: url(https://static.wixstatic.com/media/b9f97e_19009ad220974d77b95fa102deccab4b.png/v1/fill/w_243,h_243,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_19009ad220974d77b95fa102deccab4b.webp);
  width: 243px;
  height: 243px;
  margin-top: 38px;
  margin-right: 0;
  margin-bottom: 28px;
  left: 368px;
  grid-area: 1/1/2/2;
  position: relative;
  margin-left: calc((100% - 980px) * 0.5);
}
.electronic:hover{
  background: url(https://static.wixstatic.com/media/b9f97e_0ae8d70198f04f29bc6ec2608c62e4de.png/v1/fill/w_243,h_243,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_0ae8d70198f04f29bc6ec2608c62e4de.webp);
}
.electronic img{
  opacity: 0;
}



.industry{
  background: url(https://static.wixstatic.com/media/b9f97e_c9a9af3640b74452afc9cac3456ca73a.png/v1/fill/w_243,h_243,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_c9a9af3640b74452afc9cac3456ca73a.webp);
  width: 243px;
  height: 243px;
  margin-top: 38px;
  margin-right: 0;
  margin-bottom: 28px;
  left: 668px;
  grid-area: 1/1/2/2;
  position: relative;
  margin-left: calc((100% - 980px) * 0.5);
}
.industry:hover{
  background: url(https://static.wixstatic.com/media/b9f97e_504a88ba0c1e4c7db69fb49660d9835f.png/v1/fill/w_243,h_243,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_504a88ba0c1e4c7db69fb49660d9835f.webp);
}
.industry img{
  opacity: 0;
}



.furniture{
  background: url(https://static.wixstatic.com/media/b9f97e_579504165e2c4514a21c32e5d8c7131b.png/v1/fill/w_243,h_243,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_579504165e2c4514a21c32e5d8c7131b.webp);
  width: 243px;
  height: 243px;
  margin-top: 2px;
  margin-right: 0;
  margin-bottom: 28px;
  left: 67px;
  grid-area: 2/1/3/2;
  position: relative;
  margin-left: calc((100% - 980px) * 0.5);
}
.furniture:hover{
  background: url(https://static.wixstatic.com/media/b9f97e_ce32c4a2c3424b868eb2381e6748d450.png/v1/fill/w_243,h_243,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_ce32c4a2c3424b868eb2381e6748d450.webp);
}
.furniture img{
  opacity: 0;
}



.others{
  background: url(https://static.wixstatic.com/media/b9f97e_d2108f588cbd40a6b09dd590b17433b8.png/v1/fill/w_243,h_243,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_d2108f588cbd40a6b09dd590b17433b8.webp);
  width: 243px;
  height: 243px;
  margin-top: 2px;
  margin-right: 0;
  margin-bottom: 28px;
  left: 368px;
  grid-area: 2/1/3/2;
  position: relative;
  margin-left: calc((100% - 980px) * 0.5);

}
.others:hover{
  background: url(https://static.wixstatic.com/media/b9f97e_dd532f2b80794191a83af899381a4014.png/v1/fill/w_243,h_243,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_dd532f2b80794191a83af899381a4014.webp);
}
.others img{
    opacity: 0;
}
