<div class="wrap">
<div class="list">
  <a class="car" routerLink="/car" routerLinkActive="selected"><img src="https://static.wixstatic.com/media/b9f97e_1d649e559f5d440186d82bf04641a7e4.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_1d649e559f5d440186d82bf04641a7e4.webp"></a>

  <a class="electronic" routerLink="/electronic" routerLinkActive="selected" ><img src="https://static.wixstatic.com/media/b9f97e_19009ad220974d77b95fa102deccab4b.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_19009ad220974d77b95fa102deccab4b.webp"></a>

  <a class="industry" routerLink="/industry" routerLinkActive="selected"><img src="https://static.wixstatic.com/media/b9f97e_c9a9af3640b74452afc9cac3456ca73a.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_c9a9af3640b74452afc9cac3456ca73a.webp"></a>

  <a class="furniture" routerLink="/furniture"  routerLinkActive="selected"><img src="https://static.wixstatic.com/media/b9f97e_579504165e2c4514a21c32e5d8c7131b.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_579504165e2c4514a21c32e5d8c7131b.webp"></a>

  <a class="others" routerLink="/others"  routerLinkActive="selected"><img src="https://static.wixstatic.com/media/b9f97e_d2108f588cbd40a6b09dd590b17433b8.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_d2108f588cbd40a6b09dd590b17433b8.webp"></a>
</div>

<div class="contentwrap">
<div class="content">
  <div class="item">
    <img src="https://static.wixstatic.com/media/878991_4310b6f9e1e44e0bb0acad56791aadc7.jpg/v1/fill/w_310,h_189,al_c,q_80,usm_0.66_1.00_0.01/878991_4310b6f9e1e44e0bb0acad56791aadc7.webp" class="image">
    <div class="overlay">
      <div class="text">傢俱零件</div>
      </div>
  </div>

</div>
</div>
</div>
