.wrap{
  height: 100%;
}
.contentwrap{
  overflow-y: scroll;
  height: calc(100% - 116px);
}
.list{
  width: 644px;
  margin: 0 auto;
  margin-top: 16px;
  margin-bottom: 18px;
  display: flex;
  justify-content: space-around;
}
.content{
  display: flex;
  margin: 0 auto;
  width: 960px;
  height: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  }

.item{
  position: relative;
  width: 310px;
  height: 177px;
  margin-bottom: 15px;
}

.image{
  width: 310px;
  height: 177px;
  opacity: 1;
  display: block;
  transition: 0.4s ease;
  backface-visibility: hidden;
}

.overlay{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.4s ease;
  top: 0;
  opacity: 0 ;
  background-color:rgba(0, 0, 0, 0.65);
  width: 310px;
  height: 177px;
}

.image:hover {
  opacity:1;
}

.overlay:hover {
  opacity: 1;
}

.text {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 16px;
  line-height:20.8px;
}
  .car:hover{
    background: url(https://static.wixstatic.com/media/b9f97e_389b638544504e9cb3e9b97b2e2f128f.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_389b638544504e9cb3e9b97b2e2f128f.webp);
    width: 83px;
    height: 83px;
  }
  .car img {
    opacity: 0;
  }
  .car{
    background: url(https://static.wixstatic.com/media/b9f97e_1d649e559f5d440186d82bf04641a7e4.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_1d649e559f5d440186d82bf04641a7e4.webp);
    width: 83px;
    height: 83px;
  }

  .electronic:hover{
    background: url(https://static.wixstatic.com/media/b9f97e_0ae8d70198f04f29bc6ec2608c62e4de.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_0ae8d70198f04f29bc6ec2608c62e4de.webp);
    width: 83px;
    height: 83px;
  }
  .electronic img {
    opacity: 0;
  }
  .electronic{
    background: url(https://static.wixstatic.com/media/b9f97e_19009ad220974d77b95fa102deccab4b.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_19009ad220974d77b95fa102deccab4b.webp);
    width: 83px;
    height: 83px;
  }


  .industry:hover{
    background: url(https://static.wixstatic.com/media/b9f97e_504a88ba0c1e4c7db69fb49660d9835f.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_504a88ba0c1e4c7db69fb49660d9835f.webp);
    width: 83px;
    height: 83px;
  }
  .industry img {
    opacity: 0;
  }
  .industry{
    background: url(https://static.wixstatic.com/media/b9f97e_c9a9af3640b74452afc9cac3456ca73a.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_c9a9af3640b74452afc9cac3456ca73a.webp);
    width: 83px;
    height: 83px;
  }


  .furniture:hover{
    background: url(https://static.wixstatic.com/media/b9f97e_ce32c4a2c3424b868eb2381e6748d450.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_ce32c4a2c3424b868eb2381e6748d450.webp);
    width: 83px;
    height: 83px;
  }
  .furniture img {
    opacity: 0;
  }
  .furniture{
    background: url(https://static.wixstatic.com/media/b9f97e_579504165e2c4514a21c32e5d8c7131b.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_579504165e2c4514a21c32e5d8c7131b.webp);
    width: 83px;
    height: 83px;
  }
  .selected.furniture{
    background: url(https://static.wixstatic.com/media/b9f97e_ce32c4a2c3424b868eb2381e6748d450.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_ce32c4a2c3424b868eb2381e6748d450.webp);
    width: 83px;
    height: 83px;
  }

  .others:hover{
    background: url(https://static.wixstatic.com/media/b9f97e_dd532f2b80794191a83af899381a4014.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_dd532f2b80794191a83af899381a4014.webp);
    width: 83px;
    height: 83px;
  }
  .others img {
    opacity: 0;
  }
  .others{
    background: url(https://static.wixstatic.com/media/b9f97e_d2108f588cbd40a6b09dd590b17433b8.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_d2108f588cbd40a6b09dd590b17433b8.webp);
    width: 83px;
    height: 83px;
  }

