<div class="wrap">
<div class="list">

  <a class="car" routerLink="/car" routerLinkActive="selected"><img src="https://static.wixstatic.com/media/b9f97e_1d649e559f5d440186d82bf04641a7e4.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_1d649e559f5d440186d82bf04641a7e4.webp"></a>

  <a class="electronic" routerLink="/electronic" routerLinkActive="selected" ><img src="https://static.wixstatic.com/media/b9f97e_19009ad220974d77b95fa102deccab4b.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_19009ad220974d77b95fa102deccab4b.webp"></a>

  <a class="industry" routerLink="/industry" routerLinkActive="selected"><img src="https://static.wixstatic.com/media/b9f97e_c9a9af3640b74452afc9cac3456ca73a.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_c9a9af3640b74452afc9cac3456ca73a.webp"></a>

  <a class="furniture" routerLink="/furniture"  routerLinkActive="selected"><img src="https://static.wixstatic.com/media/b9f97e_579504165e2c4514a21c32e5d8c7131b.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_579504165e2c4514a21c32e5d8c7131b.webp"></a>

  <a class="others" routerLink="/others"  routerLinkActive="selected"><img src="https://static.wixstatic.com/media/b9f97e_d2108f588cbd40a6b09dd590b17433b8.png/v1/fill/w_83,h_83,al_c,q_85,usm_0.66_1.00_0.01/b9f97e_d2108f588cbd40a6b09dd590b17433b8.webp"></a>
</div>
<div class="contentwrap">
<div class="content">
  <div class="item">
  <img src="https://static.wixstatic.com/media/878991_f34c4aa1f9f74f66a28abfcfaff98df9.jpg/v1/fill/w_310,h_177,al_c,q_80,usm_0.66_1.00_0.01/878991_f34c4aa1f9f74f66a28abfcfaff98df9.webp" class="image">
  <div class="overlay">
  <div class="text">腳踏車零件</div>
  </div>
</div>

  <div class="item">
  <img src="https://static.wixstatic.com/media/878991_6a1d5d163b554f6c90e9fead92781cfa.jpg/v1/fill/w_310,h_177,al_c,q_80,usm_0.66_1.00_0.01/878991_6a1d5d163b554f6c90e9fead92781cfa.webp" class="image">
  <div class="overlay">
  <div class="text">機車零件</div>
  </div>
</div>

  <div class="item">
  <img src="https://static.wixstatic.com/media/878991_79740a6297954af8ad65724420d17fb1.jpg/v1/fill/w_310,h_177,al_c,q_80,usm_0.66_1.00_0.01/878991_79740a6297954af8ad65724420d17fb1.webp" class="image">
  <div class="overlay">
    <div class="text">機車零件</div>
  </div>
</div>

  <div class="item">
  <img src="https://static.wixstatic.com/media/878991_f02f1ee6c08f490ab2a945bc2198c2a5.jpg/v1/fill/w_310,h_177,al_c,q_80,usm_0.66_1.00_0.01/878991_f02f1ee6c08f490ab2a945bc2198c2a5.webp" class="image">
  <div class="overlay">
    <div class="text">機車零件</div>
  </div>
</div>

  <div class="item">
  <img src="https://static.wixstatic.com/media/878991_efd287d9941f487da3012fa5b4a4f2d9.jpg/v1/fill/w_310,h_177,al_c,q_80,usm_0.66_1.00_0.01/878991_efd287d9941f487da3012fa5b4a4f2d9.webp" class="image">
  <div class="overlay">
    <div class="text">腳踏車零件</div>
  </div>
</div>

  <div class="item">
  <img src="https://static.wixstatic.com/media/878991_c89aec0ec2444530982c5be6df4f53bc.jpg/v1/fill/w_310,h_177,al_c,q_80,usm_0.66_1.00_0.01/878991_c89aec0ec2444530982c5be6df4f53bc.webp" class="image">
  <div class="overlay">
    <div class="text">腳踏車零件</div>
  </div>
</div>

  <div class="item">
  <img src="https://static.wixstatic.com/media/878991_eeaedacac82c4455a19752ec0f04e143.jpg/v1/fill/w_310,h_177,al_c,q_80,usm_0.66_1.00_0.01/878991_eeaedacac82c4455a19752ec0f04e143.webp" class="image">
  <div class="overlay">
    <div class="text">機車零件</div>
  </div>
</div>

  <div class="item">
 <img src="https://static.wixstatic.com/media/878991_a51f248ad3ed462991a626dab45440ee.jpg/v1/fill/w_310,h_177,al_c,q_80,usm_0.66_1.00_0.01/878991_a51f248ad3ed462991a626dab45440ee.webp" class="image">
 <div class="overlay">
  <div class="text">機車零件</div>
</div>
</div>

 <div class="item">
  <img src="https://static.wixstatic.com/media/878991_bad157da5f0c4f32bd67ad11f8081eda.jpg/v1/fill/w_310,h_177,al_c,q_80,usm_0.66_1.00_0.01/878991_bad157da5f0c4f32bd67ad11f8081eda.webp" class="image">
  <div class="overlay">
    <div class="text">機車零件</div>
  </div>
</div>

  <div class="item">
  <img src="https://static.wixstatic.com/media/878991_13a557d39eb1473392af4839644356ca.jpg/v1/fill/w_310,h_177,al_c,q_80,usm_0.66_1.00_0.01/878991_13a557d39eb1473392af4839644356ca.webp" class="image">
  <div class="overlay">
    <div class="text">機車零件</div>
  </div>
</div>

  <div class="item">
 <img src="https://static.wixstatic.com/media/878991_a180af91d00846dcae8d442bbf50a341.jpg/v1/fill/w_310,h_177,al_c,q_80,usm_0.66_1.00_0.01/878991_a180af91d00846dcae8d442bbf50a341.webp" class="image">
 <div class="overlay">
  <div class="text">機車零件</div>
</div>
</div>

 <div class="item">
 <img src="https://static.wixstatic.com/media/878991_0b90b7c869864043af9e79d0ee46d6dd.jpg/v1/fill/w_310,h_177,al_c,q_80,usm_0.66_1.00_0.01/878991_0b90b7c869864043af9e79d0ee46d6dd.webp" class="image">
 <div class="overlay">
  <div class="text">機車零件</div>
</div>
</div>

 <div class="item">
  <img src="https://static.wixstatic.com/media/878991_c01522c6d0264c3482c3e069dc70b9db.jpg/v1/fill/w_310,h_177,al_c,q_80,usm_0.66_1.00_0.01/878991_c01522c6d0264c3482c3e069dc70b9db.webp" class="image">
  <div class="overlay">
    <div class="text">機車零件</div>
  </div>
</div>

  <div class="item">
  <img src="https://static.wixstatic.com/media/878991_5fa2900e5b264fc0a0888f0e561745d3.jpg/v1/fill/w_310,h_177,al_c,q_80,usm_0.66_1.00_0.01/878991_5fa2900e5b264fc0a0888f0e561745d3.webp" class="image">
  <div class="overlay">
    <div class="text">機車零件</div>
  </div>
</div>

  <div class="item">
  <img src="https://static.wixstatic.com/media/878991_6df6869254e44ed7b3b402ef119a5f4d.jpg/v1/fill/w_310,h_177,al_c,q_80,usm_0.66_1.00_0.01/878991_6df6869254e44ed7b3b402ef119a5f4d.webp" class="image">
  <div class="overlay">
    <div class="text">機車零件</div>
  </div>
</div>

  <div class="item">
 <img src="https://static.wixstatic.com/media/878991_d80e3bc958a14bcfa4fa6d44edc369b2.jpg/v1/fill/w_310,h_177,al_c,q_80,usm_0.66_1.00_0.01/878991_d80e3bc958a14bcfa4fa6d44edc369b2.webp" class="image">
 <div class="overlay">
  <div class="text">機車零件</div>
</div>
</div>

 <div class="item">
  <img src="https://static.wixstatic.com/media/878991_c42331b292a0460e9376aa81fffaff25.jpg/v1/fill/w_310,h_177,al_c,q_80,usm_0.66_1.00_0.01/878991_c42331b292a0460e9376aa81fffaff25.webp" class="image">
  <div class="overlay">
    <div class="text">機車零件</div>
  </div>
</div>

  <div class="item">
  <img src="https://static.wixstatic.com/media/878991_537a102e943e41a4965b7af69a6cbed8.jpg/v1/fill/w_310,h_177,al_c,q_80,usm_0.66_1.00_0.01/878991_537a102e943e41a4965b7af69a6cbed8.webp" class="image">
  <div class="overlay">
    <div class="text">腳踏車零件</div>
  </div>
</div>

</div>
</div>
</div>
